/*Style Body by adding backgroud image to cover and make it fixed, and add a nice font family to body element*/

body{
    background: url(https://upload.wikimedia.org/wikipedia/commons/1/17/Lightning_cloud_to_cloud_%28aka%29.jpg);
    width: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*Style Brand Image*/
img {
    width: 60px;
    margin-top: -17px;
    box-shadow: 40px;
}

/*Style Navigation Bar*/
.navbar {
    margin-left: -10px;
    padding: 10px;
}

/*Style Jimbotron*/
.jumbotron {
    background-color: transparent;
    margin: 200px;
    text-align: center;
    color: black;
}
.jumbotron p{
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 30px
}
/*Limit the width of the icons section*/

/*Style Icons section using bootsrap grid system*/
.icons {
    align-content: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: -200px;
    margin-bottom: 50px;
}
.icons p{
    text-align: center;
    font-size: 15px;
}
.icons div{
    text-align: center;
    max-width: 1000px;
    color: white;
    text-shadow: 2px 2px 5px black;
}
.icons img{
    width:  175px;
    box-shadow: 30px;
}

/*Style contact button using bootsrap buttons*/
.contact {
    margin-left: 800px;

}
.contact a{
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 1px dimgray;
    opacity: 0.6;
    background-color: deepskyblue
}
.contact a:hover{
    opacity: 1.0;
}
/*Style the footer*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #9C898B;
  color: white;
  text-align: center;
  height: 50px
}
/*Use media queries to change icons size for smaller devices*/
/**/


/*Add styling for devices under 480px*/
@media (max-width: 768px){
    .bodyimage{
        height: 70px;   
    }
}











